/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-background-color);
  background-image: url(../images/cover-image-dark.png);
  background-size:  auto 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding-inline-start: var(--padding-page);
  padding-inline-end: var(--padding-page);
}
