/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-background-color);
  background-image: var(--bg-image);
  background-size:  cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: var(--padding-page);
}

.main {
  row-gap: clamp(3.125rem, 1.336rem + 7.634vw, 5rem);
  padding-block: clamp(2.5rem, 1.307rem + 5.089vw, 3.75rem);
}

.title {
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  color: var(--accent-color);
}

.title_decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.title_no-bold {
  font-weight: normal;
}

.logo {
  color: var(--logo-color);
  font-size: var(--logo-size);
  text-shadow: 4px 4px var(--accent-color);
  font-weight: bold;
  line-height: 0.825;
  user-select: none;
}

.scope {
  position: relative;
}

.scope::before {
  content: '';
  position: absolute;
  right: var(--padding-page);
  top: var(--padding-page);
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.scope::after {
  content: '';
  position: absolute;
  bottom: var(--padding-page);
  left: var(--padding-page);
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.link:hover:focus-visible {
  outline: none;
}

.list {
  margin-block-start: 20px;
  display: grid;
  row-gap: 20px;
}

.list__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.list__text {
  color: var(--main-text-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__title {
  inline-size: clamp(355px, 50vw, calc(50vw - var(--padding-page)));
  justify-self: end;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button {
  color: var(--accent-color);
  background: transparent;
  text-transform: lowercase;
  border: none;
  padding: 0 13px 2px;
  inline-size: 100%;
  block-size: clamp(1.438rem, 1.259rem + 0.763vw, 1.625rem);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* из-за :focus-within pointer-events не работает на li. Поэтому конкретно для li в котором активный button сбрасываем pointer-events  */

.header__theme-menu-item .header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-item:hover:has(.header__theme-menu-button_active) {
  outline: none;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  outline: none;
}

/* Можно было использовать :befor, но решил сделать без лишних элементов. :focus-within передает focus на li и border задается для него, чтобы border не увеличивал высоту button. */

.header__theme-menu-item:focus-within {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-item:has(:hover) {
  border-block-end: none;
}

.header__decor {
  position: absolute;
  top: var(--padding-page);
  right: calc(var(--padding-page) + 9px);
  text-transform: uppercase;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  line-height: 1.45;
  font-size: 18px;
  user-select: none;
}

.header__decor::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.advices {
  display: grid;
}

.advices__gallery {
  margin-block-start: clamp(3.125rem, 1.336rem + 7.634vw, 5rem);
}

.advices__title {
  margin-block-end: 20px;
}

.gallery {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
}

.footer__logo {
  margin: auto;
}

@media (width >= 768px) {

  :root {
    --logo-size: clamp(7.5rem, 0.563rem + 14.453vw, 9.813rem);
  }

  .list {
    margin-block-start: 0;
  }

  .header__logo {
    margin-inline-start: -20px;
  }

  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .focus {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .focus__list {
    grid-row-start: 2;
    grid-column: 1 / -1;
  }
  
  .advices {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .advices__gallery {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .advices__wrapper {
    display: grid;
    row-gap: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: initial;
  }

  .focus__list {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Темная тема */

html:has(.theme_dark) {
  --main-background-color: #000028;
}

.theme_dark .title {
  color: var(--accent-color);
}

.theme_dark .title_decor {
  color: var(--main-background-color);
}

.theme_dark .header__theme-menu-list {
  --accent-color: #FF0070;
}

.theme_dark .header__decor {
  display: flex;
}

.theme_dark .scope::before,
.theme_dark .scope::after {
  --accent-color: #FF0070;
}

/* Светлая тема */

html:has(.theme_light) {
  --main-background-color: #FFF1F7;
}

.theme_light .header__theme-menu-list {
  --accent-color: #353430;
}

.theme_light .title {
  color: var(--title-color);
}

.theme_light .scope::before,
.theme_light .scope::after {
  --accent-color: #353430;
}

.theme_light .logo {
  --accent-color: #FF0070;
}

.theme_light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {

  .page {
    --main-text-color: #353430;
    --main-background-color: #FFF1F7;
    --logo-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --hover-color: rgba(50 49 45 / 0.4);
    --bg-image: url(../images/cover-image-light.png);
    --title-color: var(--main-text-color);
  }

  :root {
    --main-background-color: #FFF1F7;
  }

  .title {
    color: var(--title-color);
  }

  .header__theme-menu-list {
    --accent-color: #353430;
  }
  
  .scope::before,
  .scope::after {
    --accent-color: #353430;
  }
  
  .logo {
    --accent-color: #FF0070;
  }
  
  .header__decor {
    display: none;
  }
}